*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

section{
    width: 100%;
    min-height: 100vh;
}
section#home{
    margin: 50px;
}

#home .logo img{
    max-width: 100%;
}
#home p{
    font-size: 20px;
}
#home form{
    margin-top: 20px;
}
 #home .form-group{
    margin-bottom: 5px;
}
#home .form-group .form-control,.form-select{
    background-color: #d1d1d1 !important;
}
#home .form-group input:focus{
    border-color: none !important;
}
/* #home .form-group option{
    margin: 50px;
    padding: 10px;
} */
#home .card{
    border: none !important;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px !important;
}
#home .card p{
    margin-bottom: 0;
    font-size: 13px;
    width: 100%;
}
#home .card h4{
    color:#0000CD;
}
#home .card button{
    margin-top: 3px;
    background-color:#0000CD;
}
#home .logo img{
    width: 100px;
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
}
#home .std img{
   max-width: 70%; 
   height: 300px;
}
.intro{
    text-align: center;
}
section#course{
    margin: 50px;   
}

#course form{
    text-align: center;
}
#course .form-group{
    justify-content: center;
}

#course .card{
    margin-left: 50px;
    border: none !important;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px !important;
}
#course h6{
    margin-top: 10px;
}
#course .btn{
    text-align: center;
}
#course button{
    margin-bottom: 10px;
    border-radius: 200px;
    width: 130px;
    background-color: #0000CD;
}
#course .students h4,h5{
    margin-top: 70px;
}
.course .card h6{
    color: #0000CD;
    font-weight: bold;
}
/* #course .students{
    margin-top: 50px;
} */
.course .course{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-right: 100px;
}
#course .students{
    margin-right: 40px;
}


.students .row{
    /* display: flex;
    justify-content: space-evenly; */
    margin-left: 100px;
    
}
.students h4{
    color: #0000CD;
    font-weight: bold;
   
}

.students .card{
    padding: 15px;
    margin-top: 40px;
    
}

.students span{
    color: #0000CD;
   
}
.staffs .card-body h5{
    color: #0000CD;
    font-weight: bold;
}
.staffs .intro{
    margin-bottom: 50px;
}
.staffs .intro h4{
    color: #0000CD;
    font-weight: bold !important;
}
#course .staffs h4,h5{
    margin-top: 70px;
}
#marsdifferent{
    margin: 50px;
}
#marsdifferent h3{
    margin-top: 100px;
    color: #0000CD;
    font-weight: bold;
}
#marsdifferent .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.icons .icon{
    width: calc(33.33% - 20px);
    margin-top: 50px;
}
#marsdifferent i{
    margin: 10px;
    font-size: 3em;
    background-color: #ECECEC;
    border-radius: 500px;
    padding: 50px;
}
section#batches{
    margin-top: 100px;
}
#batches h3{
    color: #0000CD;
    font-weight: bold;
}
#batches .endimg img{
    max-width: 70%;
    margin-left: 150px;
    margin-top: 20px;
}
#batches ul>li{
   list-style-type: square;
   margin-left: 200px;
   padding: 5px;
}
#batches button{
    margin-left: 200px;
    border-radius: 200px;
    background-color: #0000CD;
}

/* For mobileview */
@media screen and (max-width:767px){
    /* #home .logo{
       margin-top: 25px;
       margin-left: 120px;
    }
    #home .intro h2,p{
        margin-left: 120px;  
    }
    #home .std{
        margin-left: 120px;
    }
    #home .card{
        margin-top: 20px;
        margin-left: 150px;
    } */
    /* .icons .icon{
        width: calc(50% -20px);
    } */
  
}

